body {
    margin: 0;
    padding: 0;
    background-color: rgb(151, 195, 216);
    font-family: 'Shadows Into Light', cursive;
}

html, body {height:100%;}



footer {
        position:absolute;
        bottom:0;
        width:100%;
    
    text-align: center;
    background-color: black;
    color: white;
    height: 30px;
}

h1 {
    margin-top: 12px;
}

header {
    display: flex;
    align-items: center;
    border-top: solid 15px black;  
    background-color: aquamarine;

}

header h1 {
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 50px;
}

#grad {
    background-image: linear-gradient(aquamarine,
 rgb(151, 195, 216));
}

span {
    display: flex;
    align-items: center;
}

.button {
        background-color: rgb(0, 0, 0); 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

        width: 100%;
        margin-right: 30%;
        margin-left: 30%;
        margin-top: 2%;
         
}

button:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: black;
}

.options {
    background-color: rgb(0, 0, 0); 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

        width: 100%;
        margin-right: 30%;
        margin-left: 30%;
        margin-top: 0.5%;
}
.about-us {
    background-color: rgb(0, 0, 0); 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

        width: 100%;
        margin-right: 30%;
        margin-left: 30%;
        margin-top: 0.5%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(3, 170px);
    grid-template-areas: 
    "grid1 grid2 grid3"
    "grid4 grid5 grid6"
    "grid7 grid8 grid9";
    grid-gap: 5px;
    /* display: inline-grid; */
    /* grid-column-gap: 50px; */
    background-color: white;
         /* margin-right: 35%;
         margin-left: 35%; */
    /* margin-top: 0.5%; */
    /* display: flex;
    align-items: center;
    text-align: center; */   
}

.areaGrid {
    display:flex;
    display: none;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-radius: 10px;
}

.gridd {
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;

}

.gridd:hover {
    cursor: pointer;
}